@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* ----------VARIABLES ------------- */

:root {
    /* COLOURS  */

    --WHITE: hsl(0, 0%, 100%);
    --LIGHT-GRAY: hsl(212, 45%, 89%);
    --GRAYISH-BLUE: hsl(220, 15%, 55%);
    --DARK-BLUE: hsl(218, 44%, 22%);
}

/* -------GLOBAL RESET ------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------CUSTOM STYLE ------------- */


body {
    font-family: 'Outfit', sans-serif;
    display: grid;
    place-content: center;
    height: 100vh;
    background: var(--LIGHT-GRAY);

}

.card {
    background: var(--WHITE);
    border-radius: .9rem;
    padding: 1rem;
    text-align: center;
    max-width: 19rem;
}
.qr-code {
    border-radius: inherit;
    overflow: hidden;
    margin-bottom: 1.4rem;
}

.qr-code img {
    width: 100%;
    display: block;
}

h2 {
    color: var(--DARK-BLUE);
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

p {
    /* font-size: 1.15rem; */
    color: var(--GRAYISH-BLUE);
    margin-bottom: 1.5rem;
}